/* p.error{  */
  /* color: red; */
/* } */
/* p.success */
  /* color: #4fdb4f; */
/* } */
/* p.success.feedback{  */
  /* border: 1px dashed #4fdb4f;  */
/* }  */
/* #content{ */
  /* background-color: #ebebeb;  */
  /* padding: 20 px;  */
/* }  */
/* div .error{
} */
/* a[href*="thenetninja"]{ */
  /* background-color: #3dd13d; */
  /* color: white; */
  /* text-decortion: none; */
  /* font-weight: bold; */
  /* text-transform: uppercase; */
/* } */
/* a[href$".com"]{ */
  /* color: white; */
  /* background: red; */
  /* border: solid blue; */
/* } */
div{
  color: lightcoral;
  border: 1px solid gray;
  margin: 40px;
  font-weight: bold;
}
div p{  border: inherit;
  margin: inherit;
  color: crimson;
}
p{
  color: orange;
}
